<!DOCTYPE html>
<html lang="en">

<head>
  <%- include partials/head.ejs %>
</head>

<body>
  <section class="hero is-medium is-info is-bold">
    <div class="hero-head">
      <nav class="nav">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="/"><img src="images/logo.png">Cyclone</a>
          </div>
          <div class="nav-right nav-menu">
            <div class="nav-item">
              <div class="field is-grouped">
                <p class="control">
                  <a class="button is-primary is-outlined is-inverted" href="/auth">
                  <span class="icon">
                    <i class="fa fa-sign-in"></i>
                  </span>
                  <span>Login</span>
                </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1">
          Cyclone
        </h1>
        <h4 class="subtitle is-4">
          Used on <%= bot.guilds.size %> servers, and counting!
        </h4>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <br>
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Guilds</p>
            <p class="title"><%= bot.guilds.size %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Channels</p>
            <p class="title"><%= Object.keys(bot.channelGuildMap).length %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Users</p>
            <p class="title"><%= bot.users.size %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Messages</p>
            <p class="title"><%= msgCount %></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <br><br>
      
      <div class="columns">
        <div class="column is-two-thirds">
          
        </div>
        <div class="column">
          
        </div>
      </div>
    </div>
  </section>
</body>

</html>